<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./js/todoapp.js"></script>
    <style>
        .submissionfield { width: 600px; height: 30px; border: 1px solid #999999; padding: 5px; }
    </style>
</head>

<body>

<div class="container"> 
    <div class="col-md-offset-2 col-md-8">  
        <div ng-app="todoapp" ng-controller="appCtrl">
            <div class="row">

                    <p> Input task description in the box and check status</p>
                    <p>Task: <input type="text" ng-model="taskname" class="submissionfield"></p>
                    <p>Status(is completed): <input type="checkbox" ng-model="isdone" ng-true-value="1" ng-false-value="0"></p>
                    

                    <div >
                        <input type="submit" class="btn btn-primary " value="Add Task" ng-click="store()"></div>
                    </div> 

                
                <table class="table">
                    <thead>
                      <th>id </th>
                      <th>task</th>
                      <th>status</th>
                      <th>edit</th>
                      <th>Delete</th>
                    </thead>

                    
                    <tbody ng-repeat = 'todo in todos'>
                        <tr>
                          <th>{{ todo.id }}</th>
                          <td>{{ todo.task }}</td>
                          <td>{{ todo.status }}</td>
                          <td><a href="">edit</a></td>
                          <td>
                              <input ng-click="confirmDelete(todo.id)" type="submit" class= 'btn btn-primary' value="delete">
                          </td>
                        </tr>
                    </tbody>
                    
         
                  </table>
            </div>
        </div>
    </div>
</div>
    

</body>
</html>